<section id="expenses">
<%# put the new expense or whatever button or probably link on this page %>

<div class="header">
  <%= link_to image_tag("back_icon.png"), groups_path, class: "back" %>
  <h2>EXPENSES</h2>
  <div class="actions">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false}, class: "sign-out" %> 
  </div>
</div>

<div class="summ">
  <%# name of the group %>
  <h3><%= @group.name %></h3>
  <%# <h3>CHOSEN GROUP NAME</h3> %>
  <p>TOTAL: (CHOSEN GROUP TOTAL)</P>
</div>

<%# list of expenses %>
<div class="list">
  <% @expenses.each do |expense| %>
    <div class="expense">
      <div class="name">
        <h3><%= expense.name %></h3>
      </div>
      <div class="amount">
        <h3><%= expense.amount %></h3>
      </div>
    </div>
  <% end %>

<%# list of expenses %>


<%# add new expense %>
<%= link_to "New Expense", new_group_expense_path(@group), class: "add-expense" %>
</section>